<%- include('partials/header') %>
        <div class="jumbotron centered">
            <div class="container">
                <i class="fa fa-exclamation-triangle fa-6x" aria-hidden="true"></i>
                <h1 class="display-3">Error 404</h1>
                <p class="lead">The HTTP 404 Not Found response status code indicates that the server cannot find the requested resource</p>
                <hr>
            </div>
        </div>
    </body>
</html>