<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fa fa-sticky-note fa-6x" aria-hidden="true"></i>
    <h1 class="display-3">To-Do List</h1>
    <p class="lead">Each day I will accomplish one thing on my to do list.</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>